{$DOMAIN} {
    # Compresión
    encode zstd gzip

    # Archivos estáticos de Django Admin y otros
    handle /static/* {
        root * /vol/django_static
        uri strip_prefix /static
        file_server
    }

    # API
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy backend:8000
    }

    # Admin (Django)
    handle /admin/* {
        reverse_proxy backend:8000
    }

    # Healthcheck
    handle /healthz* {
        reverse_proxy backend:8000
    }

    # SPA Angular (catch-all) usando route y try_files
    route {
        try_files {path} /index.html
        file_server {
            root /vol/frontend_static
        }
        header Cache-Control "public, max-age=3600"
    }

    # Seguridad
    header {
        Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    }
}
