export interface %% entity_name %% {
  {% for key, type in properties.items() %}
  %% key %%: %% type %%;
  {% endfor %}
}



export interface %% entity_name %%Input {
  {% for key, type in properties.items() %}
  %% key %%: %% type %%;
  {% endfor %}
}
