import { Injectable } from '@angular/core';
import { HttpClient } from '@angular/common/http';
import { Observable } from 'rxjs';
import { %% entity_name %% } from '../models/%% entity_file_name %%';
import { environment } from '../../../../environments/environment.development';

@Injectable({
  providedIn: 'root'
})
export class %% entity_name %%Service {
  // Ahora baseUrl usa la variable del environment
  private baseUrl = `${environment.apiBaseUrl}/%% entity_file_name | lower %%s`;

  constructor(private http: HttpClient) {}

  getAll(): Observable<%% entity_name %%[]> {
    return this.http.get<%% entity_name %%[]>(this.baseUrl);
  }

  get(id: number): Observable<%% entity_name %%> {
    return this.http.get<%% entity_name %%>(`${this.baseUrl}/${id}`);
  }

  create(data: %% entity_name %%): Observable<%% entity_name %%> {
    return this.http.post<%% entity_name %%>(this.baseUrl, data);
  }

  update(id: number, data: %% entity_name %%): Observable<%% entity_name %%> {
    return this.http.put<%% entity_name %%>(`${this.baseUrl}/${id}`, data);
  }

  delete(id: number): Observable<void> {
    return this.http.delete<void>(`${this.baseUrl}/${id}`);
  }
}
