import { Injectable } from '@angular/core';
import { HttpEvent, HttpHandler, HttpInterceptor, HttpRequest } from '@angular/common/http';
import { Observable } from 'rxjs';

@Injectable()
export class TrailingSlashInterceptor implements HttpInterceptor {
  intercept(req: HttpRequest<any>, next: HttpHandler): Observable<HttpEvent<any>> {
    const [path, ...rest] = req.url.split(/(\?|#)/);
    const modifiedUrl = path.endsWith('/') ? req.url : path + rest.join('') + '/';
    return next.handle(req.clone({ url: modifiedUrl }));
  }
}
